In [3]:
sumPlus+=1
print(sumPlus)

NameError: name 'sumPlus' is not defined

In [8]:
var1=123
var2=var1
print(var1)
print(var2)

123
123

In [10]:
var1=321
print(var1)
print(var2)

321
123

In [14]:
var1=123 #정수형으로 시작
var1=var2 #var2 정수형 값이 들어감.

print(id(var1))
print(id(var2))

var2='123'  # 문자열으로 변형된 var2
            # 메모리 차지하는 정도가 문자열일때, 정수일때 달라지게 됨.
print(var2)
print(id(var2)) #메모리주소 달라짐.

140727126202616
140727126202616
123
2738998689728

In [17]:
message=input('입력하세요')
print(message)

dd

In [3]:
var1=10
var2=20
varChange=var1
var1=var2
var2=varChange
"""
a=b
b=c
c=a
"""

print(var1)
print(var2)

20
10

In [2]:
#문장열 포맷팅 - 이름과 나이
name = "Alice"
age = 25
print(f'My name is {name} and I am {25} years old.')

My name is Alice and I am 25 years old.

In [8]:
"""
여러 변수 포맷팅
변수 item에 "apple", quantity에 3, price에 2.5를 저장한 후,
 "You bought 3 apples for $2.50 each."라는 문장을 f-string을 사용해 출력하시오.
(가격은 소수점 둘째 자리까지 출력)
"""

item = "apple"
quantity = 3
price =2.5
print(f"You bought {quantity} {item} for ${price:.3f} each.")

You bought 3 apple for $2.500 each.

In [10]:
"""
정렬을 사용한 포맷팅
 변수 `left`에 "left", `center`에 "center", `right`에 "right"를 저장한 후,
   이를 각각 왼쪽, 가운데, 오른쪽 정렬로 출력하시오. (각 단어는 10칸의 공간 내에서 정렬)
"""

left="left"
center='center'
right='right'
print(f"-{left:<10}-")
print(f'-{center:^10}-')
print(f'-{right:>10}-')

-left      -
-  center  -
-     right-

In [12]:
""""
1. 변수 재사용
    
    변수 `subject`에 "Python"을 저장하고, 두 번 `subject`를 사용하는 문장을 **f-string**으로 출력하시오.
    
    예: `"I love Python because Python is fun."`
    """

subject='python'
print(f'I love {subject} because {subject} is fun.')

I love python because python is fun.

In [3]:
"""
. 자리 수 채우기
    
    변수 `num`에 42를 저장하고, 이를 5자리 숫자로 만들기 위해 앞에 0을 채워 출력하시오.
    
    출력 예: `"00042"`

num:05
"""
num=42
print(f'{num:0>5}')

00042

In [27]:
"""
숫자 10, 20을 각각 변수에 할당
화면에 출력 ; + 연산자를 이용해서 출력

"""

num1=10
num2=20

"""
Hello와 World를 각각 변수에 할당 .+ 연산자를이용해 출력
"""

a='Hello'
b='World'

# print (a+b)와 print(a,b)의 출력방식은 다르다.
# 기본적으로 , comma사이에 sepearator " "이 작동하고 있다.

"""
1번과 2번을 f-string을 이용해서 변경해주세요.
각 변수도 출력하기
"""
print(num1 + num2)
print(a+b, 'or',a, b)
print(f'{num1+num2}= {num1} + {num2}')
print('{} = {} + {}'.format(num1+num2, num1,num2))
print('{2} = {1} + {0}'.format(num1+num2,num1,num2)) #index을 넣어서 순서를 바꿀 수도 있음
print(f'{a} {b} = {a} + {b}')
print('{} = {} + {}'.format(a +' '+ b, a,b))



# 공백채우기 복습
#print(f'{a:0>10}') 
#print(f'{a:0^11}')

30
HelloWorld or Hello World
30= 10 + 20
30 = 10 + 20
20 = 10 + 30
Hello World = Hello + World
Hello World = Hello + World

HelloWorld