In [5]:
#ch05_01 데이터 연산
num1=100
num2=200
result = num1 + num2
print(result)
print(type(result))

my_num1=3.14
my_num2=1.0
my_result=my_num1 + my_num2
print(my_result)
print(type(my_result))

print(my_num1+num1)
print(type(my_num1+num1))
#실수와 정수를 연산했을 때 type은 float

300
<class 'int'>
4.140000000000001
<class 'float'>
103.14
<class 'float'>

TypeError: sum() takes at most 2 arguments (3 given)

In [7]:
10+'abc'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
totalSales=5000
companyName='은평전자'
priceunit='원'
myResult= companyName + ' 1분기 매출은 '+ str(totalSales) + priceunit+'입니다.'
print(myResult)

#error확인, str과 int을 합할 순 없으니, total Sales를 int ->str로 변환하기.

은평전자 1분기 매출은 5000원입니다.

In [14]:
print(10%3)
print(10%2)
my_num1=10
my_num2=4
result=my_num1%my_num2
print(result)
#result=2

1
0
2

In [8]:
inputData=int(input('손 안의 동전의 개수'))
result=inputData%2
print(result)

0

In [10]:
bread=97
count=3
maxCount=bread//count # 몫을 계산
leftBread=bread%count # 나머지 계산
print(f'최대로 나누어 줄 수 있는 빵의 개수 : {maxCount}')
print(f'남은 빵의 개수 : {leftBread}')

최대로 나누어 줄 수 있는 빵의 개수 : 32
남은 빵의 개수 : 1

In [16]:
2**3

8

In [17]:
coinCount=int(input('손 안이 동전 개수 : '))
leftCoin=coinCount%2
print(leftCoin)

0

In [18]:
confirmedCaseMan=2
dayAfterIntection=int(input('확진후 경과일수: '))
infectedMen=confirmedCaseMan**dayAfterIntection
print(f'총 감염자 수 : {infectedMen}')

총 감염자 수 : 1073741824

In [19]:
1000000**0

1

In [28]:
num=10
num**=3
print(num)

1000

In [42]:
myMoney=5000000
rate=0.05
for i in range (0,5) :
    myMoney+=myMoney*rate
    muMoney=int(myMoney) #왜 정수로 했는데, 안되징
print(f'{myMoney}원')


# or

6381407.8125원

In [39]:
total=0
mondayWalk=int(input('월요일 걸음 수:'))
total+=mondayWalk

tueWalk=int(input('화요일 걸음 수:'))
total+=tueWalk

wedWalk=int(input('수요일 걸음 수:'))
total+=wedWalk

thuWalk=int(input('목요일 걸음 수:'))
total+=thuWalk

friWalk=int(input('금요일 걸음 수:'))
total+=friWalk

print(f'이번 주 총 누적 걸음 수 : {total} 걸음')

이번 주 총 누적 걸음 수 : 5000 걸음

In [46]:
inputmoney=int(input('달러를 입력하세요:'))
#리스트를 배우면 조건에 따라서 대응되는 변수를 불러와서 계산가능하다.
dollor=1167
yen=1.096
eauro=1268
wian=171
# 조건: 달러일때 
dollor * inputmoney
dollorIntowon=dollrInput*convertWon
print(float(dollorIntowon),'원') #소수점 두자리 수까지 출력?

116700.0 원

In [47]:
num1=10
num2=20
num1==num2

False

In [48]:
num1!=num2

True

In [49]:
num1>num2

False

In [50]:
num1>=num2

False

In [51]:
num1<num2

True

In [52]:
num1<=num2

True

In [53]:
a=int(input('첫 번째 숫자 입력 :'))
b=int(input('두 번째 숫자 입력 :'))
print(a+b)

20

In [12]:
#a=float(input('국어 점수 :'))
#b=float(input('영어 점수 :'))
#c=float(input('수학 점수 :'))

#print (f'국어 점수 : {a}점\n영어 점수 : {b}점\n수학 점수 : {c}점')
#medianScore=(a+b+c)/3
#print(f'평균 점수 : {medianScore}점')

from statistics import mean
#list=[a,b,c]
#mediscore=mean(list)
help()

#print(f'평균 점수 : {mediscore}점')

Welcome to Python 3.12's help utility! If this is your first time using
Python, you should definitely check out the tutorial at
https://docs.python.org/3.12/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To get a list of available
modules, keywords, symbols, or topics, enter "modules", "keywords",
"symbols", or "topics".

Each module also comes with a one-line summary of what it does; to list
the modules whose name or summary contain a given string such as "spam",
enter "modules spam".

To quit this help utility and return to the interpreter,
enter "q" or "quit".


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [14]:
height=float(input('키 입력:'))
print(height>=120)

True

In [15]:
num1=5
num2=8
num1!=num2
#True

True

In [17]:
str1='a'
str2='A'
str1>str2

True

In [18]:
'p'<'y'

True

In [25]:
print('a'=='b')
print('a'!='b')
print('a'>='b')
print('a'<='b')
print('a'<'b')
print('a'>'b')

print(ord('a'))
print(ord('b'))
print(chr(97))

False
True
False
True
True
False
97
98
a

In [29]:
str1= 'python'
str2= 'java'
strr2= 'java'



str1!=str2

True

In [30]:
num = 256
print("===num===")
print('10진수:',format(num,'d'))
print("10진수:",format(num,'d'))
print("8진수:",format(num,'o'))
print("16진수:",format(num,'x'))

===num===
10진수: 256
10진수: 256
8진수: 400
16진수: 100

In [32]:
num=256
print("10진수:{0:d}".format(num))
print("8진수:{0:o}".format(num))
print("16진수:{0:x}".format(num))

"""
2진수 : binary number
8진수 : octal number
10진수 : decimal number 
16진수 : hexadecimal

"""

10진수:256
10진수:256
8진수:400
16진수:100

'\n2진수 : binary number\n8진수 :\xa0octal number\n10진수 :\xa0decimal number\xa0\n16진수 :\xa0hexadecimal\n\n'

In [45]:
#print('숫자 1은 영어로 %s입니다.' %('one'))
#print('숫자 1은 영어로 %s %s입니다.' %('one','two'))

#print('숫자1은 영어로{1}입니다.'.format('one'))
#IndexError: replacment index 1 out of range for positional args tuple
print('숫자1은 영어로{0}입니다.'.format('one'))
print('숫자1은 영어로{1} {0}입니다.'.format('one','two'))

숫자1은 영어로one입니다.
숫자1은 영어로twoone입니다.

In [52]:
print(f'숫자1은 영어로 {'one'}입니다.')
print(f'    {'one'}   ')
print(f'    {"one"}   ') #error이 뜨지 않더라도 따옴표 구분해서 하는 습관화 가지기

숫자1은 영어로 one입니다.
    one
    one

In [58]:
#%s
print('-%10s-'% ('nice'))
print('-{:>10}-'.format('nice'))
print('-{:>:<10}-'.format('nice'))

-      nice-
-      nice-
-nice      -