In [1]:
def introKor():
    print('안녕.')
def introEng():
    print('hello.')
def introJap():
    print('콘니치와')

selectNum= int(input('where are you from? 1. 한국 2. USA 3. Japan'))

if selectNum == 1 :
    introKor()

elif selectNum ==2 :
    introEng()
elif selectNum ==3 :
    introJap()
else :
    introEng()

hello.

In [4]:
numbers = [11,22,33,44,55,66]
for i in numbers :
    print(i, end='')
print('==========')

for i in numbers :
    print(i, end=' ')

print('==========')
for i in numbers :
    print(i)

112233445566==========
11 22 33 44 55 66 ==========
11
22
33
44
55
66

In [5]:
print(sum(range(1,101)))

5050

In [26]:
for i in range (2,10,1):
    for j in range(1,10):
        print(f'{i} x {j} = {i*j:2d}',sep='|',end='   ')
    print()

2 x 1 =  2   2 x 2 =  4   2 x 3 =  6   2 x 4 =  8   2 x 5 = 10   2 x 6 = 12   2 x 7 = 14   2 x 8 = 16   2 x 9 = 18
3 x 1 =  3   3 x 2 =  6   3 x 3 =  9   3 x 4 = 12   3 x 5 = 15   3 x 6 = 18   3 x 7 = 21   3 x 8 = 24   3 x 9 = 27
4 x 1 =  4   4 x 2 =  8   4 x 3 = 12   4 x 4 = 16   4 x 5 = 20   4 x 6 = 24   4 x 7 = 28   4 x 8 = 32   4 x 9 = 36
5 x 1 =  5   5 x 2 = 10   5 x 3 = 15   5 x 4 = 20   5 x 5 = 25   5 x 6 = 30   5 x 7 = 35   5 x 8 = 40   5 x 9 = 45
6 x 1 =  6   6 x 2 = 12   6 x 3 = 18   6 x 4 = 24   6 x 5 = 30   6 x 6 = 36   6 x 7 = 42   6 x 8 = 48   6 x 9 = 54
7 x 1 =  7   7 x 2 = 14   7 x 3 = 21   7 x 4 = 28   7 x 5 = 35   7 x 6 = 42   7 x 7 = 49   7 x 8 = 56   7 x 9 = 63
8 x 1 =  8   8 x 2 = 16   8 x 3 = 24   8 x 4 = 32   8 x 5 = 40   8 x 6 = 48   8 x 7 = 56   8 x 8 = 64   8 x 9 = 72
9 x 1 =  9   9 x 2 = 18   9 x 3 = 27   9 x 4 = 36   9 x 5 = 45   9 x 6 = 54   9 x 7 = 63   9 x 8 = 72   9 x 9 = 81

In [2]:
for i in range (5):
    print(i,end=' ')
for i in range (5):
    print(i,end='')

0 1 2 3 4 01234

In [5]:
s=0
for i in range(1,11):
    s+=i
    print (f's={s} , i = {i}')
    print(s)

s=1 , i = 1
1
s=3 , i = 2
3
s=6 , i = 3
6
s=10 , i = 4
10
s=15 , i = 5
15
s=21 , i = 6
21
s=28 , i = 7
28
s=36 , i = 8
36
s=45 , i = 9
45
s=55 , i = 10
55

In [8]:
s= 0
for i in range (1,100):
    s+=i
print(s)

4950

In [12]:
# 1~ 100 중 짝수의 합


s_odd=0
s_even=0

for i in range (1,100):
    if i % 2 == 1 :
        s_odd+=i
    elif i % 2 == 0 :
        s_even+=i
print(s_odd)
print(s_even)

2500
2450

In [63]:
#내가 짠 코드 아래 모양과 같이 20개를 그리고(함수 이용), 3번 반복하기/
"""def printStar(a):
    print(a*20)

for i in range (1,4):
    printStar('*') 
    printStar('-')
    printStar('+')"""

#추가로 수정한 ver. :
def printStar(a,b,c,range_num):
    for i in range (1,range_num+1):
        print(f'{i}번 반복')
        print(a*20)
        print(b*20)
        print(c*20)
        
#최종 수정
def printSymbol(symbol,number_count):
    for i in range (number_count):
        print(symbol,end='')
    print()

"""
#수정 전 version
def printstar2(a):
    for i in range(20+1):
        print(a,end='')
    print() #20 개를 넣은 후 공백이니깐 return value가 없으므로, print 마무리됨.
            #\n을 넣으면 공백아 아니라, 줄바꿈이니깐 결과가 한 줄 띄워짐.

#range 숫자를 매개변수로 치환하기
def printstar3(b):
    for i in range(b):
        print('+',end='')
    print() #20 개를 넣은 후 공백이니깐 return value가 없으므로, print 마무리됨.
            #\n을 넣으면 공백아 아니라, 줄바꿈이니깐 결과가 한 줄 띄워짐.
"""
#test 결과
printStar('*','+','-',3)
print()
print('구분선===')
print()

printSymbol('+',20)
printSymbol('-',20)
printSymbol('*',20)


"""
원하는 결과 출력
print('******************')
print('------------------')
print('++++++++++++++++++')
print('******************')
print('------------------')
print('++++++++++++++++++')
print('******************')
print('------------------')
print('++++++++++++++++++')
"""

1번 반복
********************
++++++++++++++++++++
--------------------
2번 반복
********************
++++++++++++++++++++
--------------------
3번 반복
********************
++++++++++++++++++++
--------------------

구분선===

++++++++++++++++++++
--------------------
********************

"\n원하는 결과 출력\nprint('******************')\nprint('------------------')\nprint('++++++++++++++++++')\nprint('******************')\nprint('------------------')\nprint('++++++++++++++++++')\nprint('******************')\nprint('------------------')\nprint('++++++++++++++++++')\n"

In [35]:

for i in range(7):
    st=''
    for j in range (i):
        st =st+' '
    print(st + '#')

#
 #
  #
   #
    #
     #
      #

In [83]:
#even_list = [2,4,6,8,10]
a=2,4,6,8,10
even_list=list(a)
print(even_list)

"""z=0
for i in range (1,10):
    if i % 2 == 0 :
        z+=i
        print(z)"""

[2, 4, 6, 8, 10]

'z=0\nfor i in range (1,10):\n    if i % 2 == 0 :\n        z+=i\n        print(z)'

In [97]:
count = 1
def addcount():
    global count
    count=2
    print('2.count',count)

print('1.count',count)
addcount()
print('3.count',count)
print()

# 위 아래 결과 다른 것 차이 확인하기
count = 1
def addcount():
    #global count
    count=2
    print('2.count',count)

print('1.count',count)
addcount()
print('3.count',count)

1.count 1
2.count 2
3.count 2

1.count 1
2.count 2
3.count 1

In [102]:
totalPrice=0
goodsCount=[5,2,10,3]

def printReceeipt():
    goods0Count=1000
    goods1Count=500
    goods2Count=2000
    goods3Count=1500

    global totalPrice

    totalPrice += goods0Count * goodsCount[0]
    totalPrice += goods1Count * goodsCount[1]
    totalPrice += goods2Count * goodsCount[2]
    totalPrice += goods3Count * goodsCount[3]

    print('----------------printRecipt-----------')
    print('totalPrice =',totalPrice)

printReceeipt()

----------------printRecipt-----------
totalPrice = 30500

In [113]:
def a(n1,n2,n3):
    print(n1,n2,n3)
    print(type(n3))

    
a(1,2,'안녕')
a(1,2,3)

print(type(a))

1 2 안녕
<class 'str'>
1 2 3
<class 'int'>
<class 'function'>

In [106]:
def findMax(*nums):
    print(type(nums))
    print(nums) 
    max = 0
    for n in nums :
        if n > max :
            max = n
    print('max:',max)

findMax(10,20,30)
findMax(10,20,30,40)
findMax(10,20,30,50)
findMax(10,20,30,60)
findMax(10,20,30,70,50,40)

# tuple argument가 변하면 안되므로, list는 값이 변하는 것

<class 'tuple'>
(10, 20, 30)
max: 30
<class 'tuple'>
(10, 20, 30, 40)
max: 40
<class 'tuple'>
(10, 20, 30, 50)
max: 50
<class 'tuple'>
(10, 20, 30, 60)
max: 60
<class 'tuple'>
(10, 20, 30, 70, 50, 40)
max: 70

In [117]:
def printf(*str):
    print(str)

printf('안녕','하세요','반갑흡니다')
print(type (printf))
print(type (str))

('안녕', '하세요', '반갑흡니다')
<class 'function'>
<class 'type'>

In [122]:
def introduction(name, age, addr):
    print('안녕하세요 저는',name,'이고,',age,'살 이며, 사는 곳은', addr, '입니다.')

introduction ('박성래','서울은평구',22)
introduction (name='이지훈',age=43, addr='서울 동대문구')
introduction(name='구성순',addr='서울시',age=23)

print()

def introduction(name, age=20, addr='서울시 동작구'):
    print('안녕하세요 저는',name,'이고,',age,'살 이며, 사는 곳은', addr, '입니다.')


introduction('박나래')

안녕하세요 저는 박성래 이고, 서울은평구 살 이며, 사는 곳은 22 입니다.
안녕하세요 저는 이지훈 이고, 43 살 이며, 사는 곳은 서울 동대문구 입니다.
안녕하세요 저는 구성순 이고, 23 살 이며, 사는 곳은 서울시 입니다.

안녕하세요 저는 박나래 이고, 20 살 이며, 사는 곳은 서울시 동작구 입니다.

In [3]:
def add (n1,n2,n3):
    sum = n1 + n2 + n3
    return n1+n2

result = add (1,2,3)
print(result)

3

In [11]:
def calculator (num1, num2) :
    result1 = num1 + num2
    result2 = num1 - num2
    result3 = num1 * num2
    result4 = num1 / num2

    print(result1,result2,result3,result4)

inputNumber1=int(input('정수 입력'))
inputNumber2=int(input('정수 입력'))

result = calculator(inputNumber1,inputNumber2)
print(result)

30 -10 200 0.5
None

In [6]:
def calculator (num1, num2) :
    result1 = num1 + num2
    result2 = num1 - num2
    result3 = num1 * num2
    result4 = num1 / num2

    return(result1,result2,result3,result4)

inputNumber1=int(input('정수 입력'))
inputNumber2=int(input('정수 입력'))

result = calculator(inputNumber1,inputNumber2)
print(result)

(30, -10, 200, 0.5)

In [10]:
def star () :
    print('a')
    print('a')
    print('a')
    return
    print('a')
    print('a')
    print('a')

star()

a
a
a